<% if @name %>
<h1>Hey my name is <%= @name %></h1>
<% end %>
<form action="named-cat">
  <label for="name">Enter your name:</label>
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>
<div style='border: 3px dashed red'>
  <img src='https://i.imgur.com/jFaSxym.png'>
</div>

<%# <h1>Hey there friend, <%= %w(Amigo Misty Almond).sample %></h1>
<%# <div style='border: 3px dashed red'>
  <img src='https://i.imgur.com/jFaSxym.png'>
</div> %> %>